/* Font Cnd */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* icon cnd */
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

:root {
    /*______  Color  ______ */
    --primary-color: #0aad0a;
    --primary-hover-color: #099309;
    --secondary-color: #01293a;
    --orange: #ffc107;
    --blue: #016bf8;
    --gray: #707070;
    --gray2: #a39e9ec3;
    --dark: #1b2023;
    --secondary-hover: #193b4a;
    --white: #fff;
    --white-off: #F0F3F2;
    --border-color: #ededed;
    --border-color2: #c7c7c7;
    --red: red;


    /* _______________  bg color in section _______________ */
    --modal-bg: #1a161656;



    /*______  Font Size  ______ */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 17px;
    --fs-xl: 22px;
    --fs-xxl: 32px;
    --fs-xxxl: 44px;



    /*______  Border Radius  ______ */
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-pill: 200px;
    --radius-round: 50%;

    /*______  Font Weight  ______ */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    --font-montserrat: "Montserrat", system-ui;
    --font-inter: "Poppins", serif;
    ;

    --gradient-1: linear-gradient(to right, #0b3958, #185a86);
    --gradient-2: linear-gradient(to right, #11354d, #1c577e);
    --gradient-login: linear-gradient(to right, #173e57c9, #919fa7d6);


    /* shadow */
    --shadow-0: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --shadow-1: 0 2px 3px rgba(0, 0, 0, .04);
    --shadow-2: 0 2px 5px rgba(0, 0, 0, .07);

}






/* responsive font */
@media (max-width:991px) {
    :root {
        /*______  Font Size  ______ */
        --fs-xs: 12px;
        --fs-sm: 15px;
        --fs-md: 16px;
        --fs-lg: 18px;
        --fs-xl: 20px;
        --fs-xxl: 30px;
        --fs-xxxl: 40px;
    }
}