/**************************
****  Header Start Here  ****
***************************/
header .header-top {
    background-color: var(--white-off);
    padding: 6px 0;
}

header .header-top .my-container {
    padding: 0 16px;
}

header .header-top .left a:hover {
    color: var(--primary-color);
}



/* Header Top Right */
.header-top .social a,
.social a {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--white);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: var(--fs-md);
    color: var(--gray);
}

.header-top .social a i,
.social a i {
    transition: .4s linear;
}

.header-top .social a:hover i,
.social a:hover i {
    transform: rotate(360deg);
}

.header-top .social a:hover .social a:hover {
    background-color: unset;
    border: 1px solid var(--white);
    outline: 1px solid var(--white);
}



/*_______  Header Mediel  _______*/
.header-mediel .my-container {
    padding: 10px 16px;
}

.search-form {
    width: 500px;
    position: relative;
}

.header-mediel .search {
    position: relative;
    width: 500px;
}

.header-mediel .search-form input {
    width: 500px;
    border-radius: 7px;
}

.header-mediel .search-form .search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    background-color: var(--primary-color);
    height: 100%;
    color: var(--white);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.header-mediel .search-form .search-icon:active {
    background-color: var(--secondary-color) !important;
}

.header-mediel .search-form .search-icon:hover {
    background-color: var(--primary-hover-color);
}

/* search dropdown */
.search-form .search-dropdown {
    position: absolute;
    top: 45px;
    left: -0px;
    width: 100%;
    max-height: 400px;
    background-color: var(--white);
    padding: 2px !important;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: var(--shadow-2);
    border: 1px solid var(--border-color);
    z-index: 5;
    overflow-y: hidden;
    display: none;
}

.search-form .search-dropdown.my-cart {
    padding: 12px 0 0 0 !important;
}

.search-form .search-dropdown .body {
    padding: 0 16px;
    max-height: 360px;
    overflow-y: auto;
}

/* scrollbar */
.search-form .search-dropdown .body.my-has-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.search-form .search-dropdown .body.my-has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--border-color2);
}

.search-dropdown.my-cart {
    padding: 18px 0 !important;
}

/* history */
.search-dropdown .history {
    display: none;
}

.search-dropdown .close-history {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.search-dropdown .close-history:hover {
    background-color: var(--white-off);
}


.search-form .search-dropdown .history li:last-child {
    padding-bottom: 10px;
}

/* related items */
.search-form .related-items {
    display: none;
}

/*_____ added a active class  _____*/
.search-form .search-dropdown.active {
    display: block;
}

/* Show history when active */
.search-dropdown .history.active {
    display: flex;
}

/* Show related items when active */
.search-form .related-items.active {
    display: flex;
}

.search-form .related-items img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--white-off);
    padding: 2px;
    cursor: pointer;
}





/*_____  header midel right  _____*/
.header-mediel .right-icons li {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background .15s linear;
}

.header-mediel .right-icons li:hover {
    background-color: var(--white-off);
    outline: 2px solid var(--white-off);
}

.header-mediel .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mediel .icon i {
    font-size: calc(var(--fs-xl) + 3px);
    font-weight: var(--fw-500);
}



/*_______  Header Bottom Start  _______*/
.header-bottom .my-container {
    padding: 16px 16px;
}

.header-bottom {
    border-top: 1px solid var(--border-color);
}

.header-bottom .left {
    width: 350px;
}

.header-bottom .all-department-btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 13px 18px;
    font-size: var(--fs-lg);
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}





/*_______  all-department  _______*/
.header-bottom .all-department {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    overflow: auto;
    min-height: 420px;
}

.all-department.my-card {
    padding: 6px 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: unset;
}

.header-bottom .all-department .wrapper::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}


.header-bottom .all-department .wrapper::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--border-color2);
}

.header-bottom .all-department .wrapper:hover::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}


.header-bottom .all-department .single-dept {
    cursor: pointer;
    padding: 4px 0;
    padding: 6px 16px;
    border-radius: 2px;
}


/* dropdown */
.all-department .dropdown {
    position: absolute;
    left: 100%;
    width: fit-content;
    text-wrap: nowrap;
    top: 0px;
    background-color: var(--white);
    padding: 10px 0px;
    box-shadow: var(--shadow-2);
    border: 1px solid var(--border-color);
    z-index: 12;
    display: none;
}

.all-department .dropdown li {
    position: relative;
}




.all-department li:hover>.dropdown {
    opacity: 1;
    top: 0px;
    max-height: 1000px;
    display: flex;
}

.all-department .dropdown li a:hover {
    color: var(--primary-color);
}

.all-department .dropdown .col li {
    padding: 4px 14px;
    font-size: 13px;
}

.all-department .dropdown li i {
    font-size: 11px;
}

.all-department .dropdown .col li:hover {
    background-color: var(--white-off);
    width: 100%;
}

/* single deprt */
.all-department .single-dept.my-dropdown-parent .my-dropdown {
    left: 100%;
    z-index: 5;
}

.header-bottom .all-department .single-dept p {
    font-weight: 600;
    font-size: 14px;
}

.header-bottom .all-department .single-dept::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--primary-color);
    transition: .2s linear;
}

.header-bottom .all-department .single-dept:hover::after {
    width: 4px;
    left: 0;
}

.header-bottom .all-department .single-dept:hover {
    background-color: var(--white-off);
}

.header-bottom .all-department-btn i {
    font-size: var(--fs-lg);
}



.header-bottom .my-nav-item {
    font-weight: var(--fw-600);
    font-size: var(--fs-md);
    position: relative;
    transition: 1s linear;
    padding: 6px 2px;
}

.header-bottom .my-nav-item:hover {
    color: var(--primary-color);
}

.header-bottom .my-nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 1;
    top: -4px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: width 0.2s, height 0.2s, opacity 0.2s;
}

.header-bottom .my-nav-item:hover::after,
.header-bottom .my-nav-item.active::after {
    opacity: 1;
    width: 10px;
    height: 10px;
}


.header-bottom .btn-parent {
    padding: 2px;
    outline: 1px solid var(--border-color);
    border-radius: 55px;
}

.header-bottom .btn-parent .my-btn-sm {
    padding: 12px 18px;
}

/*******************************
****   Header Cart End Here   ****
*******************************/












/*************************************
****   Login Modal Cart Start Here   ****
**************************************/
.login-register .login-register-btn {
    padding: 14px 10px;
}

.login-register .other-option .my-btn::after {
    background-color: blueviolet;
}

.login-register .other-option .my-btn-sm {
    background-color: var(--blue);
    color: var(--white);
}

.login-register .modal-content {
    max-height: 520px;
    width: 100%;
    max-width: 420px;
}

.login-register .sign-up {
    /* transform: translateX(0%); */
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    height: 100%;
    transition: .4s linear;
}

.login-register .sign-up.active {
    transition: .4s linear;
    transition-delay: .2s;
    /* transform: translateX(-110%); */
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.login-register .sign-in {
    transition: .4s linear;
    /* transform: translateX(-110%); */
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    height: 0%;
}

.login-register .sign-in.active {
    /* transform: translate(0%, 0%); */
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: .4s linear;
    height: 100%;
    margin-top: 50px;
}






/***************************************
****   Notification Modal Start Here  ****
****************************************/
.my-modal.notification-modal .modal-content {
    max-width: 470px !important;
    width: 92%;
    margin: 0 auto;
}

.my-modal.notification-modal .my-has-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.my-modal.notification-modal .my-has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--border-color2);
}

.my-modal.notification-modal .header {
    background-color: transparent;
    min-height: 50px;
    padding: 40px 16px;
    padding-bottom: 10px;
}

.my-modal.notification-modal .all-notification {
    max-height: 450px;
    overflow-y: auto;
}

.my-modal.notification-modal .items {
    padding: 16px;
}


/* notification single item */
.my-modal.notification-modal .item {
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    border-bottom: 1px solid var(--border-color2);
}

.my-modal.notification-modal .item:hover {
    background-color: var(--white-off);
}

.my-modal.notification-modal .info p {
    color: var(--secondary-color);
}

.my-modal.notification-modal .info p:last-child {
    color: var(--gray);
    font-size: 13px;
}

.my-modal.notification-modal .profile-img {
    padding: 2px;
    border: 1px solid var(--border-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.my-modal.notification-modal .item .right {
    min-width: 82px;
}

.my-modal.notification-modal .item .base {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    background-color: var(--primary-color);
    text-transform: lowercase;
    color: var(--white);
    transition: .2s linear;
    animation: base-animation 3s ease-in-out infinite;
}








/**********************************
****    Hero SLider Start Here   ****
***********************************/
.hero-section {
    /* margin: 2px 0 55px 0; */
    height: 420px;
    width: 100%;
    margin-top: 0px;
}

.hero-section .my-container {
    padding-top: 0;
}

.hero-area {
    width: 100%;
    height: 100%;
}

.hero-area .left {
    width: 400px;
}

.hero-area .right {
    width: 100%;
    position: relative;
}



swiper-container {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 2;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

swiper-slide img {
    display: block;
    height: 100%;
    width: 100%;
}

.hero-section .my-p-relative {
    width: 100%;
    height: 100%;
}


.hero-section .slider-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: cover;
}

.hero-section .my-p-relative::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #615f5f23;
}

.hero-section .content {
    max-width: 400px;
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 6;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero-section .content {
    color: var(--secondary-color);
}

.hero-section .content h1 {
    gap: 10px;
    line-height: 40px;
    margin-top: 16px;
}

@keyframes base-animation {
    0% {
        transform: translateX(100%);
        /* Start at the right */
    }

    40% {
        transform: translateX(0%);
        /* Move completely to the left */
    }

    60% {
        transform: translateX(0%);
        /* Wait for 2 seconds at the left */
    }

    90% {
        transform: translateX(100%);
        /* Wait for 2 seconds at the left */
    }

    100% {
        transform: translateX(100%);
        /* Move back to the starting position (right) */
    }
}


.support {
    margin-top: 20;
}

.support .single-support-item {
    padding: 12px 16px;
}

.support .single-support-item img {
    width: 40px;
}








.subcibe-app {
    background-image: url('/Static/images/mobile-bg.svg');
    height: 455px;
    width: 100%;
    position: relative;
}

.subcibe-app::after {
    content: '';
    background-color: #615f5f23;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
}

.subcibe-discount-area {
    position: relative;
    z-index: 5;
}

.subcibe-discount-area .left {
    max-width: 500px;
}

.subcibe-discount-area .left form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 15px;
    border-radius: 4px;
}

.subcibe-discount-area .left form input {
    border: none;
    background-color: transparent;
}

.subcibe-discount-area .left form .my-btn {
    width: 140px;
}

.subcibe-discount-area .right img {
    max-width: 360px;
}




/**********************************
****   Best Deals Start Here    ****
***********************************/
.deal .my-grid-2 {
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.deal .deal-item {
    padding: 25px;
    border-radius: 16px;
    gap: 2%;
}

.deal .deal-item-img {
    width: 48%;
}


/* discount tag */
.deal .deal-item .disount {
    height: 30px;
    border-radius: 4px;
    background-color: var(--primary-hover-color);
    color: var(--white);
    margin-bottom: 6px;
    display: inline-flex;
    padding: 4px 7px;
    font-size: var(--fs-sm);
}

/*_______  deal item right  ________*/
.deal .deal-item.right {
    flex-direction: column;
}

.deal .deal-item.right .deal-item-content {
    width: 100%;
}

.deal .deal-item.right .deal-item-content .name {
    font-size: var(--fs-lg);
    line-height: 24px;
}

.deal .deal-item.right .deal-item-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 6px;
}

.deal .deal-item.right .deal-item-img img {
    width: 80%;
    max-width: 220px;
    margin: 0 auto;
    border-radius: 8px;
}

/* deal-item-content */
.deal-item-content .name {
    transition: .2s linear;
}

.deal-item-content .name:hover {
    color: var(--primary-color);
}

.deal-item-content {
    width: 50%;
}

/* Rating */
.deal-item .rating-wrapper {
    margin-top: -4px;
}

.deal-item .rating i {
    color: var(--primary-color);
    margin-left: -3px;
}

.deal-item .rating i:first-child {
    margin-left: 0;
}

.deal-item .rating:hover i {
    color: var(--primary-hover-color) !important;
}

/* Title */
.deal-item .name {
    text-align: left;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    text-align: left;
    font-weight: var(--fw-700);
    line-height: 28px;
}


.deal-item .prices .old-price {
    font-weight: var(--weight-400);
}

.deal-item .add-to-cart {
    font-weight: var(--fw-700);
}


/* Sold  Available */
.deal-item .sold-available .sold {
    font-size: var(--xs-font);
}

/* Range */
.deal-item .sold-available .available-range {
    margin-top: 5px;
    height: 10px;
    width: 100%;
    background-color: var(--border-color);
    border-radius: 14px;
    position: relative;
}

.deal-item .sold-available .available-range::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 45%;
    background: var(--border-color2);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.deal .deal-item.right .deal-item-content .available-range::before {
    width: 76%;
}

/* Offer */
.deal-item .offer-title {
    font-weight: var(--fw-600);
}

.deal-item .offer-item {
    width: 50px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}

.deal-item .offer-item .number {
    font-weight: var(--weight-500);
}


.deal .deal-item img {
    transition: .2s;
}

.deal .deal-item:hover img {
    transform: scale(1.08);
}

.deal .deal-item:hover {
    box-shadow: var(--shadow-2);
    border: 1px solid var(--border-color);
}







/**********************************
****    Brand Start Here    ****
***********************************/
.brand-section {
    /* background-color: var(--border-color) !important; */
    padding: 35px 0;
}

.brand-section .my-container {
    padding-bottom: 0;
}

.marquee .marqueeone {
    animation: slider-animation 35s linear infinite;
}

.marquee {
    height: 160px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}


.marqueeone img {
    width: 80%;
    max-width: 250px;
    height: 80%;
    max-width: 240px;
    border-right: 1px solid var(--white-off);
}

.marquee div {
    position: absolute;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}






/**************************************
****    Top Categories Start Here    ****
***************************************/

.top-categories .item {
    transition: .22s linear;
    box-shadow: unset;
    border-radius: 10px;
    border: 1px solid var(--border-color2);
    max-width: 175px;
    width: 100%;
}

.top-categories .item:hover {
    transform: translateY(10px);
    box-shadow: var(--shadow-2);
    border-color: var(--primary-color);
}



.top-categories .item img {
    width: 80%;
    margin: 0 auto;
    height: 120px;
    /* border: 1px solid var(--white-off); */
    padding: 4px;
    border-radius: 12px;
}







.product-tags .tag a {
    padding: 6px 12px;
    color: var(--gray);
    background-color: var(--border-color2);
    border-radius: 6px;
}

.product-tags .tag a:hover {
    background-color: var(--gray);
    color: var(--white-off);
}




/**************************
****  Footer Start Here  ****
***************************/

footer {
    margin-bottom: 0 !important;
}


/*_______  Footer Top  _______*/
.footer-top .nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
}

.footer-top .nav-item span {
    transition: .2s;
}

.footer-top .nav-item:hover span {
    transform: translateX(6px);
}

.footer-top .nav-item:hover {
    color: var(--primary-color);
}




/*_______  Footer Mediel  _______*/
.footer-mediel {
    background-color: var(--secondary-color);
    padding: 25px 0;
}

.footer-head {
    color: var(--border-color);
    opacity: .9;
    text-transform: uppercase;
    text-wrap: nowrap;
    position: relative;
}

footer .footer-mediel .footer-nav {
    color: var(--border-color2);
    opacity: .58;
    position: relative;
    font-weight: 400;
}

footer .footer-mediel .footer-nav:hover {
    color: var(--primary-color);
    opacity: 1;
}

footer .footer-mediel .footer-nav::before {
    content: '';
    position: absolute;
    right: -13px;
    top: 3px;
    height: 12px;
    width: 1px;
    background-color: var(--white-off);
    opacity: .8;
}

footer .footer-mediel .brand h4 {
    opacity: .64;
    font-size: var(--fs-md);
}

.brand-item a:not(:last-child)::after {
    content: '';
    width: 0;
}

.footer-mediel .brand-item {
    row-gap: 6px;
}






/*________  footer-pages ________*/

footer .footer-pages-area::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 35px;
    height: 1px;
    background-color: var(--gray);

}

footer .footer-pages .footer-head::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 1px;
    width: 100px;
    background-color: var(--border-color);
    opacity: .9;
}

.footer-pages .nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--border-color2);
    opacity: .6;
    transition: .2s linear;
    font-weight: var(--fw-400);
    padding: 4px 0;
}

.footer-pages .item .support-text {
    color: var(--white-off);
    opacity: .6;
}

.footer-pages .item p,
.footer-pages .item i {
    color: var(--border-color2);
    opacity: .6;
    font-weight: var(--fw-400);
}

.footer-pages .item i {
    font-weight: var(--fw-600);
}

.footer-pages .nav-item span {
    font-size: 11px;
    transition: .15s linear;
    transition-delay: .2s;
}

.footer-pages .nav-item:hover span {
    transform: translateX(5px);
}

.footer-pages .nav-item:hover {
    transform: translateX(-4px);
    color: var(--primary-color);
    opacity: 1;
}

.footer-pages .nav-item:hover i {
    color: var(--primary-color);
}


.footer-pages ontact .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-lg);
}

.footer-pages .subcribe {
    background-color: var(--white-off);
    padding: 10px 12px;
    border-radius: 4px;
}

.footer-pages .subcribe input {
    background-color: transparent;
    border: none;
}

.footer-pages .social li {
    border: 1px solid var(--gray);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-pages .social a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    opacity: 1;
    background-color: var(--white-off) !important;

}

.footer-pages .social a:hover i {
    color: var(--primary-color)
}

.footer-pages .social a i {
    color: var(--primary-color-hover);
    font-size: calc(var(--fs-lg) + 3px);
    opacity: 1;
}



/*_______  Footer Bottom  _______*/
.footer-bottom .my-container {
    padding: 14px 16px;
}

.footer-bottom {
    background-color: rgb(26, 26, 49);
    color: var(--border-color2);
}

.footer-bottom p {
    font-weight: 400 !important;
}

.footer-bottom h5 {
    color: var(--border-color2);
    font-size: var(--fs-sm);
}











/**********************************
****   Shopping Cart Start Here   ****
***********************************/
.my-modal.shopping-cart {
    justify-content: end;
    right: 0%;
    transform: translateX(100%);
    transition: transform .3s linear;
    display: flex;
}

.my-modal.shopping-cart .modal-content {
    position: fixed;
    top: 0;
    right: 0%;
    transform: translateX(100%);
    min-height: 100dvh;
    width: 540px;
    max-width: 1000px;
    border-radius: 0;
    transition: transform .5s linear;
}

/* active class added */
.my-modal.shopping-cart.active {
    transform: translateX(0%);
}

.my-modal.shopping-cart.active .modal-content {
    right: 0;
    transition: transform .3s linear;
    transform: translateX(0%);
}

/* shoping cart body */
.my-modal.shopping-cart .modal-body {
    min-height: calc(100dvh - 170px);
    height: 100%;
    display: flex;
    align-items: start;
}

.my-modal.shopping-cart .body-content {
    width: 100%;
    flex-direction: column;
    padding: 5px 12px;
    min-height: calc(100% - 170px);
    display: flex;
    justify-content: start;
}


/* shopping cart items */
.my-modal.shopping-cart .item {
    border-bottom: 1px solid var(--border-color);
    padding: 8px 0;
}

.my-modal.shopping-cart .img img {
    padding: 2px;
    width: 65px;
    border: 1px solid var(--white-off);
    border-radius: 4px;
}

.my-modal.shopping-cart .items a:hover,
.my-modal.shopping-cart .items button:hover {
    color: var(--primary-color)
}

.my-modal.shopping-cart .items p {
    line-height: 14px;
}


/* quantity-buttons */
.my-modal.shopping-cart .quantity-buttons {
    border: 3px solid var(--white-off);
}

.my-modal.shopping-cart .quantity-buttons input {
    width: 35px;
    height: 34px;
    text-align: center;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.my-modal.shopping-cart .quantity-buttons input[type="number"] {
    padding-left: 10px;
    padding-right: 0;
}

.my-modal.shopping-cart .quantity-buttons input[type="button"] {
    cursor: pointer;
    font-size: var(--fs-lg);
    font-weight: var(--fw-600);
}

.my-modal.shopping-cart .quantity-buttons input[type="button"]:hover {
    color: var(--primary-color);
}

.my-modal.shopping-cart .quantity-buttons input[type="button"]:active {
    background-color: var(--border-color2);
}

.my-modal.shopping-cart .item .right {
    gap: 25px;
}

/* price area */
.my-modal.shopping-cart .price {
    width: 75px;
    display: flex;
    align-items: end;
}

.my-modal.shopping-cart .new-price h6 {
    font-size: var(--fs-md);
}

.my-modal.shopping-cart .new-price i {
    color: var(--secondary-color);
    font-size: var(--fs-sm);
}

.my-modal.shopping-cart .modal-content::after {
    content: '';
    position: absolute;
    top: 0;
    background-color: var(--white-off);
    width: 12px;
    height: 100%;
    left: 0;
}

.my-modal.shopping-cart .header,
.my-modal.shopping-cart .footer {
    padding: 16px 14px;
}

.my-modal.shopping-cart .footer {
    min-height: 70px;
}

.my-modal.shopping-cart .modal-close-btn {
    font-size: var(--fs-xl);
    background-color: var(--primary-color);
    border-radius: 0;
    color: var(--white-off);
}

/**********************************
****   Shopping Cart End Here   ****
***********************************/





/**********************************
****   How to Order Start   ****
***********************************/
.how-to-order .my-card {
    padding: 40px 25px;
    background-color: var(--border-color);
    border-radius: 0;
    max-width: 400px;
    margin: 0 auto;
}

.how-to-order .my-card .sl {
    color: var(--white);
    padding: 12px 18px;
    border-radius: 4px;
    background-color: var(--primary-color);
    width: fit-content;
    font-weight: var(--fw-700);
    font-size: var(--fs-xl);
}

.how-to-order .my-card p {
    font-size: var(--fs-md);
}









/**********************************
****   Products  Start  Here  ****
***********************************/
.products {
    /* background-color: var(--white-off); */
}

.products-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    max-width: 4000px;
}

.products-area .left {
    /* background-color: var(--white-off); */
}

.products-area .sticky {
    position: sticky;
    top: 40px;
    left: 0;
    width: 250px;
}

.products-area .sticky .my-card {
    background-color: var(--white-off);
    border-radius: 8px;
    padding: 0;
    padding-top: 8px;
    /* box-shadow: var(--shadow-1); */
    border-color: var(--border-color);
}

.products-area .sticky .my-card ul li {
    padding: 2px 0;
    border-bottom: 2px solid var(--white);
    cursor: pointer;
}

.products-area .sticky .my-card ul li a {
    width: 100%;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    font-weight: var(--fw-600);
    transform: unset;
}


.products-area .sticky .my-card ul li a i {
    font-size: var(--fs-sm);
    transition: .8s;
    font-weight: var(--fw-600);
}

.products-area .sticky .my-card ul li a span {
    transition: .6s;
}

.products-area .sticky .my-card ul li a span.active {
    transform: rotate(90deg);
}

.products-area .sticky .my-card ul li a:hover {
    color: var(--primary-color);
}

.products-area .sticky .my-card .nav-btn {
    position: relative;
    transition: .4s linear;
}

.products-area .sticky .my-card .nav-btn::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 12px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: .4s linear;
}

.products-area .sticky .my-card .nav-btn:hover::after {
    left: 5px;
}


/*________   dropdown   ________*/
.products-area .sticky .dropdown {
    background-color: var(--white-off);
    padding-bottom: 8px;
    visibility: hidden;
    overflow: hidden;
    transition: .6s ease-in-out;
    max-height: 0;
}

.products-area .sticky .dropdown.active {
    visibility: visible;
    opacity: 1;
    max-height: 1500px;


}

.products-area .sticky .dropdown li {
    border: none !important;
}

.products-area .sticky .dropdown li a {
    color: var(--gray) !important;
    font-weight: var(--fw-500) !important;
    font-size: var(--fs-sm) !important;
    border-bottom: 1px solid var(--border-color2);
    padding: 6px 34px !important;
}

.products-area .sticky .dropdown li a:hover {
    color: var(--primary-color) !important;
}


.products-area .sticky .tips {}

.products-area .sticky .tips li {
    cursor: unset !important;
    padding: 10px 18px !important;
}

.products-area .sticky .tips div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--white);
    box-shadow: var(--shadow-1);
}

.products-area .sticky .tips div i {
    color: var(--primary-color);
    font-size: var(--fs-lg);
}

.products-area .sticky .tips p {
    font-size: 13px;
    width: 75%;
    line-height: 18px;
}



/**********************************
****   About Start  Here  ****
***********************************/
.about .items {
    max-width: 960px;
    margin: 0 auto;
}

.about .item {
    padding: 5px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--white-off);
    border: 1px solid var(--border-color);
    margin: 0 auto;
}

.about .item .my-card {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color) !important;
    flex-direction: column;
    /* border: 1px solid var(--border-color2); */
}


.about .my-grid-4 {
    padding-top: 20px;
}

/*******************************
****  Responsive code 1080px  ****
*******************************/
@media (max-width:1080px) {

    /* header top */
    .header-top-mobile {
        justify-content: space-between;
    }


    /* header bottom */
    .header-bottom {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 8;
        background-color: var(--white);
        display: block;
        width: 100%;
        max-width: 600px;
        height: 100dvh;
        transition: .2s linear;
    }

    .header-bottom.active {
        left: 0;
        display: block;
    }

    .header-bottom-area {
        flex-direction: column;
    }

    .header-bottom .left {
        width: 100%;
    }



    /*_______  all department  _______*/
    .header-bottom-area .left {
        width: 100%;
    }

    .header-bottom .all-department-btn {
        width: 100%;
    }

    .header-bottom-area .all-department {
        display: none;
    }

    .header-bottom-area .all-department.active {
        display: block;
        z-index: 8;
    }

    .header-bottom-area .all-department.active .dropdown {
        left: 45px;
        top: 23px;
    }


    .header-bottom-area .right {
        flex-direction: column;
        align-items: start;
    }

    .header-bottom-area .right nav {
        width: 100%;
        max-height: 1200px;
        overflow-y: auto;
    }

    .header-bottom-area .right .nav-ul {
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 2px;
    }

    .header-bottom-area .right .nav-ul li {
        width: 100%;
        border-top: 1px solid var(--border-color2);
        padding: 6px 0;
    }

    .header-bottom-area .right .nav-ul li a {
        width: 100%;
    }

    .header-bottom-area .right .nav-ul li:last-child {
        border-bottom: 1px solid var(--border-color2);
        margin-bottom: 8px;
    }

    .header-bottom-area .discount-btn-parent {
        width: 100%;
    }

    .header-bottom-area .discount-btn-parent .my-btn {
        width: 100%;
        padding: 12px 14px;
    }

    .header-bottom-top .close-modile-sidebar {
        border: none;
    }


    /**************   Hero Section  ****************/
    .hero-section .content h1 {
        gap: 0;
        line-height: 40px;
    }

    .my-modal.shopping-cart .item {
        gap: 20px;
    }

    .deal-item.right .rating-wrapper {
        margin-top: -10px;
    }
}


@media (max-width:991px) {

    /*_____  Header Mediel  _____ */
    .header-mediel {
        border-bottom: 1px solid var(--white-off);
    }

    .header-mediel .search {
        position: relative;
        width: 100%;
    }

    .header-mediel .search-form input {
        max-width: 600px;
        width: 100%;
        border-radius: 7px;
    }

    .header-mediel .search-form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        padding-top: 10px;
    }

    .hero-section {
        margin-top: 80px;
    }





    /* Deals */
    .deal .my-grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .deal .deal-item.my-card {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .deal .deal-item .left {
        flex-direction: column;
    }

    .deal .deal-item.left .deal-item-img {
        width: 100%;
    }

    .deal .deal-item.left .deal-item-img img {
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .deal .deal-item.left .deal-item-content {
        width: 100%;
    }

    .deal-item.right .rating-price {
        flex-direction: column;
        gap: 2px;
        align-items: start;
    }

    .deal-item .offer-items {
        gap: 8px;
    }


    /* .subcibe-app */
    .subcibe-discount-area {
        justify-content: center;
        align-items: center;
        height: 640px;
        position: relative;
        top: 0;
        gap: 60px;
        text-align: center;
    }

    .subcibe-discount-area .left {
        order: 1;
    }

    .subcibe-discount-area .right {
        order: 0;
    }

    .subcibe-app {
        height: 680px;
    }

    .subcibe-discount-area .right img {
        max-width: 240px;
    }



    /*********  Product Area  ********/
    .products-area {
        grid-template-columns: 1fr;
    }



    .products-area .left {
        margin: 0 auto;
        width: 350px;
    }

    .products-area .left .sticky {
        width: 100%;
    }

    .popular-products-area {
        justify-content: center;
    }

    .popular-products-area .product-cart {
        margin: 0 auto;
    }
}




@media (max-width:556px) {

    /* shopping cart */
    .my-modal.shopping-cart .modal-content {
        width: 100%;
        overflow-x: auto;
    }

    .my-modal.shopping-cart .body-content {
        overflow-x: auto;
        width: 550px;
    }

    .my-modal.shopping-cart .body-content .items {
        margin-right: 12px;
        width: 550px;
        overflow-x: auto;
    }

    .my-modal.shopping-cart .img img {
        width: 50px;
    }

    .my-modal.shopping-cart .item {
        gap: 12px;
    }

    .my-modal.shopping-cart .item .right {
        gap: 12px;
    }

    .my-modal.shopping-cart .info h6 {
        min-width: 150px;
    }


    /*  */
    .top-categories .my-grid-6 {
        grid-template-columns: repeat(2, 1fr);
        max-width: 320px;
        width: 100%;
        margin: 24px auto;
        margin-bottom: 0;
    }

    .top-categories .my-grid-6 .my-card,
    .top-categories .my-grid-6 .my-card img {
        border-radius: 8px;
    }

    .top-categories .my-grid-6 .my-card img {
        width: 100%;
        max-width: 120px;
        border: none;
    }

    .about .item {
        padding: 5px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: var(--white-off);
        border: 1px solid var(--border-color);
        margin: 0 auto;
    }
}