@import '../variable.css';

/*_______________________________*\
  ||     Header Start  Here     ||
\*_______________________________*/

header {
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid var(--primary-hover-color);
}

header .logo h2 {
    color: var(--seconday-color);
}


header .my-container {
    padding: 16px;
}



.search .my-input-control {
    width: 380px;
    border-radius: 44px;
    height: 54px;
    display: flex;
    background-color: var(--white-off);
    /* overflow: hidden; */
}

.search .my-btn {
    position: absolute;
    right: 5px;
    border-radius: 44px;
    top: 5px;
}

.search input {
    width: 100%;
    border-color: transparent;
    border-radius: 44px;

}

.search input::placeholder {
    font-weight: 400;
    color: var(--gray);
}




/*****  Header Right  *****/
header .right .nav-item {
    padding: 4px 6px;
    cursor: pointer;
    position: relative;
}

header .right .nav-item:hover {
    background-color: var(--secondary-color);
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* header .right .nav-item::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0px;
    background-color: var(--secondary-color);
    width: 0;
    height: 1.5px;
    transition: .03s;
}

header .right .nav-item:hover::after {
    right: 0;
    width: 100%;
} */

header .right .nav-item.icon {
    font-size: var(--fs-lg);
}

header .right .nav-item.icon::after {
    content: unset;
}








/*_________________________*\
  ||     Hero Section     ||
\*_________________________*/
.hero-section {
    height: 90dvh;
    background-color: var(--primary-color);
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section .hero-desc {
    max-width: 400px;
    word-spacing: 1px;
    letter-spacing: .2px;
    font-weight: var(--fw-400);
    color: var(--white);
}